<mat-horizontal-stepper #stepper labelPosition="bottom">

    <!-- Step 1: Details -->
    <mat-step [stepControl]="details" errorMessage="Details required.">
        <form [formGroup]="details">
            <ng-template matStepLabel>Details</ng-template>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Enter your name" formControlName="name" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phoneno" placeholder="Enter your phone number"  required>
                <mat-error>Phone number should be 10 digits</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="mailid" placeholder="Enter your mailid" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Address</mat-label>
                <textarea matInput formControlName="address" placeholder="Enter your address" rows="2"></textarea>
            </mat-form-field>
            <div class="action-buttons">
                <button color="accent" mat-raised-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Step 2: Education -->
    <mat-step  [stepControl]="education" errorMessage="Education required.">
        <ng-template matStepLabel>Education</ng-template>
        <div style="text-align: center; margin: 25px;">
            <h1>Add Educations</h1>
            <button mat-fab aria-label="add education" color="primary" (click)="addEducation()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <form [formGroup]="education">
            <div formArrayName="educationDetails">
                <div *ngFor="let edu of eduArr.controls; let i = index" [formGroupName]="i" >
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Institution Name</mat-label>
                        <input matInput formControlName="institutionName" placeholder="Institution Name" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="startDate" formControlName="startDate" placeholder="Start Date" />
                        <mat-datepicker #startDate></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="endDate" formControlName="endDate" placeholder="End Date" />
                        <mat-datepicker #endDate></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Course</mat-label>
                        <input matInput formControlName="course" placeholder="Course Name" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Percentage</mat-label>
                        <input matInput type="number" formControlName="percentage" placeholder="Percentage" />
                    </mat-form-field>
                    <button mat-raised-button  matSuffix color="warn" type="button" (click)="removeEducation(i)"
                        >Delete
                    </button>
                </div>
            </div>
        </form>
            <div class="action-buttons">
                <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                <button mat-raised-button color="accent" matStepperNext>Next</button>
            </div>
        
    </mat-step>

    <mat-step [stepControl]="ro_le" errorMessage="Role required.">
        <form [formGroup]="ro_le">
            <ng-template matStepLabel>Role & Description</ng-template>
            <mat-form-field>
                <mat-label>Role</mat-label>
                <input matInput placeholder="Enter your Role" formControlName="role" required>
            </mat-form-field>
           
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" placeholder="Describe yourself" rows="2"></textarea>
            </mat-form-field>
            <div class="action-buttons">
                <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                <button color="accent" mat-raised-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Step 3: Role & Descriptions -->
    <mat-step  [stepControl]="role" errorMessage="Role required.">
        
            <ng-template matStepLabel>Projects & Description</ng-template>
            <div style="text-align: center; margin: 25px;">
                <h1>Add Projects & Description</h1>
                <button mat-fab aria-label="add role" color="primary" (click)="addRole()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        <form [formGroup]="role">
            <div formArrayName="roles">
                <div *ngFor="let r of roleArr.controls; let i = index" [formGroupName]="i" class="role-item">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Project </mat-label>
                        <input matInput formControlName="role" placeholder="Project" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Project Description</mat-label>
                        <input matInput formControlName="roleDescription" placeholder="Project Description" />
                    </mat-form-field>
                    <button mat-raised-button  matSuffix color="warn" type="button" (click)="removeRole(i)"
                        >Delete
                    </button>
                </div>
            </div>
        </form>
            <div class="action-buttons">
                <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                <button mat-raised-button color="accent" matStepperNext>Next</button>
            </div>
        
    </mat-step>

    <!-- Step 4: Skills -->
    <mat-step  [stepControl]="skills" errorMessage="Skills required.">
        <ng-template matStepLabel>Skills</ng-template>
        <div style="text-align: center; margin: 25px;">
            <h1>Add Skills</h1>
            <button mat-fab aria-label="add skill" color="primary" (click)="addSkill()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <form [formGroup]="skills">
            <div formArrayName="skill">
                <div *ngFor="let s of skillArr.controls; let i = index"  class="skill-item">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Skill</mat-label>
                        <input matInput [formControlName]="i" placeholder="Enter your skill" />
                        <button mat-icon-button matSuffix color="warn" type="button" (click)="removeSkills(i)"
                        ><mat-icon>delete</mat-icon>
                       </button>
                    </mat-form-field>
                    
                </div>
            </div>
            <div class="action-buttons">
                <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                <button mat-raised-button color="accent" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Step 5: Certifications -->
    <mat-step  [stepControl]="certifications" errorMessage="Certifications required.">
        <ng-template matStepLabel>Certifications & Awards</ng-template>
        <div style="text-align: center; margin: 25px;">
            <h1>Add Certifications & Awards</h1>
            <button mat-fab aria-label="add certification" color="primary" (click)="addCertification()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <form [formGroup]="certifications">
            <div formArrayName="certifications">
                <div *ngFor="let c of certArr.controls; let i = index"  class="cert-item">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Certification</mat-label>
                        <input matInput [formControlName]="i" placeholder="Enter your certifications" />
                        <button mat-icon-button matSuffix color="warn" type="button" (click)="removeCertification(i)"
                        ><mat-icon>delete</mat-icon></button>
                    </mat-form-field>
                    
                </div>
            </div>
            <div style="text-align: center; margin: 25px;">
                <h1>Add Awards</h1>
                <button mat-fab aria-label="add award" color="primary" (click)="addAward()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div formArrayName="awards">
                <div *ngFor="let a of awardArr.controls; let i = index"  class="award-item">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Awards</mat-label>
                        <input matInput [formControlName]="i" placeholder="Enter your awards" />
                        <button mat-icon-button matSuffix color="warn" type="button" (click)="removeAward(i)"
                        ><mat-icon>delete</mat-icon></button>
                    </mat-form-field>
                
                </div>
            </div>
            <div class="action-buttons">
                <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                <button mat-raised-button color="accent" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Step 6: Experience -->
    <mat-step  [stepControl]="experience" errorMessage="Experience required.">
        <ng-template matStepLabel>Experiences</ng-template>
        <div style="text-align: center; margin: 25px;">
            <h1>Add Experiences</h1>
            <button mat-fab aria-label="add experience" color="primary" (click)="addExperience()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <form [formGroup]="experience">
            <div formArrayName="experiences">
                <div *ngFor="let e of expArr.controls; let i = index" [formGroupName]="i" >
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Company</mat-label>
                        <input matInput formControlName="company" placeholder="Company Name" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Role</mat-label>
                        <input matInput formControlName="role" placeholder="Role" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="startDate" formControlName="startDate" placeholder="Start Date" />
                        <mat-datepicker #startDate></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="endDate" formControlName="endDate" placeholder="End Date" />
                        <mat-datepicker #endDate></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description" placeholder="Describe about your experience"></textarea>
                    </mat-form-field>
                    <button mat-raised-button  matSuffix color="warn" type="button" (click)="removeExperience(i)"
                        >Delete
                    </button>
                </div>
            </div>
        </form>
            <div class="action-buttons">
                <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                <button mat-raised-button color="accent" matStepperNext>Next</button>
            </div>
        
    </mat-step>

    <!-- Step 7: Photo & URLs -->
    <mat-step  >
        <ng-template matStepLabel>Photo & URLs</ng-template>
        <form [formGroup]="photoUrls">
            <div class="photo-url-container">
                <!-- Photo Upload -->
                
                <mat-card class="photo-upload-card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>Profile Photo</mat-card-title>
                        <mat-card-subtitle><input type="file" (change)="onFileChange($event)" accept="image/*" /></mat-card-subtitle>

                       
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content> 
                        <img *ngIf="photoUrl" [src]="photoUrl" alt="Profile Photo" class="profile-photo"></mat-card-content>
                  </mat-card>
                <!-- Profile URL -->
                <mat-card class="url-card">
                    <mat-card-header>
                        <mat-card-title>Profile URL</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field appearance="fill">
                            <mat-label>Profile URL</mat-label>
                            <input matInput formControlName="profileUrl" placeholder="Enter your profile URL" />
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
                
                <!-- LinkedIn URL -->
                <mat-card class="url-card">
                    <mat-card-header>
                        <mat-card-title>LinkedIn URL</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field appearance="fill">
                            <mat-label>LinkedIn URL</mat-label>
                            <input matInput formControlName="linkedinUrl" placeholder="Enter your LinkedIn URL" />
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="action-buttons">
                <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                <button mat-raised-button color="accent" matStepperNext >Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Review</ng-template>
        <app-resume></app-resume>
    </mat-step>
    



</mat-horizontal-stepper>
<!-- <mat-step  >
    <ng-template matStepLabel>Review</ng-template>

    <mat-card class="review-card">
        <mat-card-header>
            <mat-card-title>
                <h2>Review Your Details</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div id="resumeContent" class="review-details">
                <img *ngIf="photoUrl" [src]="photoUrl" alt="Profile Photo" class="profile-photo">

                <div class="details-section">
                    <h3>Personal Information</h3>
                    <p><strong>Name:</strong> {{details.value['name']}}</p>
                    <p><strong>Phone No:</strong> {{details.value['phoneno']}}</p>
                    <p><strong>Email:</strong> {{details.value['mailid']}}</p>
                    <p><strong>Address:</strong> {{details.value['address']}}</p>
                </div>

                <div class="details-section">
                    <h3>Role & Description</h3>
                    <div *ngFor="let value of roles">
                    <p><strong>Role:</strong> {{value['role']}}</p>
                    <p><strong>Description:</strong> {{value['roleDescription']}}</p>
                    </div>
                </div>

                <div class="details-section">
                    <h3>Skills</h3>
                    <ul>
                        <li *ngFor="let skill of skills.value.skill">{{skill}}</li>
                    </ul>
                </div>

                <div class="details-section">
                    <h3>Certifications</h3>
                    <ul>
                        <li *ngFor="let cert of certifications.value.certifications">{{cert}}</li>
                    </ul>
                </div>

                <div class="details-section">
                    <h3>Awards</h3>
                    <ul>
                        <li *ngFor="let award of certifications.value.awards">{{award}}</li>
                    </ul>
                </div>

                <div class="details-section">
            <h3>Experience</h3>
            <div *ngFor="let value of exper">
              <p><strong>Company:</strong> {{value['company']}}:"":""</p>
              <p><strong>Role:</strong> {{value['role']}}</p>
              <p><strong>Start Date:</strong> {{value['startDate'] | date}}</p>
              <p><strong>End Date:</strong> {{value['endDate'] | date}}</p>
              <p><strong>Description:</strong> {{value['description']}}</p>
              <mat-divider></mat-divider>
            </div>
          </div>
            </div>

            <div class="action-buttons">
                <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                <button mat-raised-button color="accent" (click)="pdf()">Generate PDF</button>
                <button mat-raised-button color="accent" (click)="stepper.reset()">Reset</button>
            </div>
        </mat-card-content>
    </mat-card>
</mat-step> -->